<% form_for(item.respond_to?(:supertaxon) ? [item.supertaxon, item] : item) do |f| %>
  <%= f.error_messages %>

  <p>
    <%= f.labelled_text_field :name_la  %>
  </p>
  <p>
    <%= f.labelled_text_field :name_en %>
  </p>
  <p>
    <%= f.labelled_text_field :name_ru %>
  </p>
  <p>
    <%= f.labelled_text_field :name_uk %>
  </p>
  <p>
    <%= f.labelled_text_field :synonims %>
  </p>
  <p>
    <%= f.labelled_text_area :description %>
  </p>
  <p>
    <%= f.labelled_set_sorting_combo "Insert after", items, item, "{:name_la} / {:name_ru}" %>
  </p>
  <p>
    <%= f.submit params[:id] ? 'Update' : 'Create' %>
  </p>
<% end %>