- form_for(item) do |f|
  = f.error_messages
  %p
    = f.labelled_select(item.parent_key, item.parent_key, [["Please select parent", nil]] + @parents.map{|p| ["#{p.name_la} / #{p.name_ru}", p.id]}) unless item.top_level?
  %p
    = f.labelled_text_field :name_la
  %p
    = f.labelled_text_field :name_en
  %p
    = f.labelled_text_field :name_ru
  %p
    = f.labelled_text_field :name_uk
  %p
    = f.labelled_text_field :synonims
  %p
    = f.labelled_text_area :description
  %p
    = items.empty? ? "Will be appended in the end." : f.labelled_set_sorting_combo("Insert after", items, item) {|sib| "#{sib.name_la} / #{sib.name_ru}"}
  %p
    = f.submit params[:id] ? 'Update' : 'Create'
