- content_for :page_title do
  = @taxon.name_la.if_present! {|s| "#{model_name.capitalize} #{s}"} rescue "#{action_name.humanize} #{model_name}"

%h1
  = @taxon.name_la.if_present! {|s| "#{@taxon.name.if_present {|s2| "#{s2} / "}}#{content_tag :em, s}"} rescue "#{action_name.humanize} #{model_name}"

= render( :partial => "taxa/table" )

%h2
  Редактировать
= render :partial => "taxa/form",  :locals => { :item => @taxon, :items => @taxa }
= link_to "#{model_name.pluralize.humanize} index", :action => "index"
= " | " + link_to("Add new #{model_name}", :action => "new") if controller.action_name != 'new'
