<% content_for :page_title do %>
  <%= @taxon.name_la.if_true( "#{model_name.capitalize} %s", "#{action_name.humanize} #{model_name}") %>
<% end %>

<h1><%= @taxon.name_la.if_true( "#{@taxon.name_ru} / <em>%s</em>", "#{action_name.humanize} #{model_name}") %></h1>

<%= render( :partial => "taxa/table", :locals => { :bunch => @taxon.subtaxa } ) if !@taxon.subtaxa.empty? %>

<h2>Редактировать</h2>
<%= render :partial => "taxa/form",  :locals => { :item => @taxon, :items => @taxa } %>

<%= link_to "#{model_name.pluralize.humanize} index", :action => "index" %>
<%= " | " + link_to("Add new #{model_name}", :action => "new") if controller.action_name != 'new' %>