- @page_header = capture do
  = @taxon.new_record? ? "#{action_name.humanize} #{model_name}" : "#{@taxon.name.if_present {|s2| "#{s2} / "}}#{content_tag :em, @taxon.name_la}"

- content_for :page_title do
  = strip_tags @page_header

%h1
  = @page_header

= render( :partial => "taxa/table" ) unless @taxon.bottom_level? || @taxon.new_record?

%h2
  Редактировать
= render :partial => "taxa/form",  :locals => { :item => @taxon, :items => @taxa }
= link_to "#{model_name.pluralize.humanize} index", :action => "index"
= " | " + link_to("Add new #{model_name}", :action => "new") if controller.action_name != 'new'
