<% content_for :page_title do %>
  <%= model_name.pluralize.humanize %>: <%= controller.action_name %>
<% end %>

<h1>Listing <%= model_name.pluralize %></h1>

<%= render :partial => "taxa/table", :locals => { :bunch => @taxa } %>

<br />

<%= link_to "Add new #{model_name}", :action => "new" %>