<% content_for :page_title do %>
  <%= model_name.pluralize.humanize %>: <%= controller.action_name %>
<% end %>

<h1>Listing <%= model_name.pluralize %></h1>

<% weave_table @taxa do |wt| %>
   <%= wt.numeric :sort %>
   <!--%= wt.string :name_la, :link_to => {:action => "show"} %-->
   <%= wt.string :name_en %>
   <%= wt.string :name_ru %>
   <%= wt.string :name_uk %>
   <%= wt.bool :synonims %>
   <%= wt.bool :description %>
   <!--%= wt.const "<em>del</em>", "x", :link_to => {:confirm => 'Are you sure?', :method => :delete} %-->
<% end %>

<table class="bordered">
  <tr>
    <th class="numeric">Sort</th>
    <th>Name la</th>
    <th>Name en</th>
    <th>Name ru</th>
    <th>Name uk</th>
    <th>Syn</th>
    <th>Descr</th>
    <th><em>del</em></th>
  </tr>

<% @taxa.each do |taxon| %>
  <tr>
    <td class="numeric"><%=h taxon.sort %></td>
    <td><%=link_to h(taxon.name_la), :action => "show", :id => taxon %></td>
    <td><%=h taxon.name_en %></td>
    <td><%=h taxon.name_ru %></td>
    <td><%=h taxon.name_uk %></td>
    <td class="boolean"><%= !taxon.synonims.empty? ? "+" : "-" %></td>
    <td class="boolean"><%= !taxon.description.empty? ? "+" : "-" %></td>
    <td>[<%= link_to 'x', taxon, :confirm => 'Are you sure?', :method => :delete %>]</td>
  </tr>
<% end %>
</table>

<br />

<%= link_to "Add new #{model_name}", :action => "new" %>